*{
    margin: 0%;
    padding: 0%;
}

h1{
    text-align: center;
    font-size: 10vw;
}

header{
    margin-top: 4vw;
    margin-bottom: 7vw;
}

nav{
    display: flex;
    justify-content: end;
    margin-right: 6.5vw;
    gap: 5px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 5vw;
}

.img-page1{
    margin-top: 5vw;
}

fo