*{
    margin: 0%;
    padding: 0%;
}

h1{
    text-align: center;
    font-size: 10vw;
}

header{
    margin-top: 4vw;
    margin-bottom: 7vw;
}

nav{
    display: flex;
    justify-content: end;
    margin-right: 6.5vw;
    gap: 4px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 5vw;
}

.img-page1{
    margin-top: 5vw;
}

.texto-page1{
    margin-top: 13vw;
    font-size: 6vw;
    text-align: center;
}

.mai {
    margin-top: 16%;
}

.tarjetas{
    gap: 10vw;
}

h2{
    text-align: center;
    font-size: 4vw;
}
