<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Final</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section>
        <header>
            <h1>acme</h1>
        </header>
        <nav>
            <a href="../index.html">Inicio</a><hr>
            <a href="./pagina_servicios.html">Servicios</a><hr>
            <a href="./pagina_quienes-somos.html">¿Quienes somos?</a><hr>
            <a href="./pagina_contacto.html">Contacto</a>
        </nav>
        <main>
            <aside id="mision">
                <img src="../assets/mision.png" alt="logo user" class="mision-icon">
                <div id="info">
                    <span class="mision">  Misión</span>
                    <span>Potenciar el éxito de las compañia mediante soluciones tecnologicas innovadoras que transforman ideas en impacto, impulsando el crecimiento acelerado de estas.</span>
                </div>
            </aside>
            <aside id="vision">
                <img src="../assets/vision.png" alt="logo user" class="vision-icon">
                <div id="info2">
                    <span class="vision">  Misión</span>
                    <span>Nos vemos como lideres en la vanguardia de la innovacion tecnologica, siendo reconocidas por nuestra dedicación a impulsar el éxito empresarial y el cambio social. Aspiramos a ser la primera ópcion para compañia que buscan soluciones tecnologicas  de alto impacto, demostrando que la tecnologia puede ser una fuerza poderosa para hacer el bien.</span>
                </div>
            </aside>
        </main>
    </section>
</body>
</html>