<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Final</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section>
        <header>
            <h1>acme</h1>
        </header>
        <nav>
            /<a href="../index.html">Inicio</a>/
            /<a href="./pagina_servicios.html">Servicios</a>/
            /<a href="./pagina_quienes-somos.html">Quienes somos</a>/
            /<a href="./pagina_contacto.html">Contacto</a>/
        </nav>
        <main>
            <img src="../assets/logo1_pagina2.png" alt="Logo de la imagen 1">
        </main>
        <footer>
            <strong><p>IA GENERATIVA</p></strong>
            <p>
                Utilliza el poder de la IA generativa para crear contenido digital de alta calidad que ayuden a impulsar tu compañia a traves del marketing digital.
            </p>
        </footer>
    </section>
    <section>
        <img src="../assets/logo2_pagina2.png" alt="Logo de la imgen">
    </section>
</body>
</html>