<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Final</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header>
        <h1>acme</h1>
    </header>
    <nav>
        <a href="../index.html">Inicio</a><hr>
        <a href="./pagina_servicios.html">Servicios</a><hr>
        <a href="./pagina_quienes-somos.html">¿Quienes somos?</a><hr>
        <a href="./pagina_contacto.html">Contacto</a>
    </nav>
    <main>
        <section>
            <img src="../assets/logo1_pagina2.png" alt="Logo de la imagen 1">
            <strong><p>IA GENERATIVA</p></strong>
            <p>
                Utilliza el poder de la IA generativa para crear contenido digital de alta calidad que ayuden a impulsar tu compañia a traves del marketing digital.
            </p>
        </section>
        <section>
            <img src="../assets/logo2_pagina2.png" alt="Logo de la imgen">
            <strong><p>CIENCIA DE DATOS</p></strong>
            <p>
                Los datos generados en tu compañia te ayudaran a ver de una forma mas clara que pasos seguir. La ciencia de datos te ayudara a la toma de decisiones mediante proyecciones y otras herramientas
            </p>
        </section>
        <section>
            <img src="../assets/logo3_pagina2.png" alt="Logo de la imgen">
            <strong><p>SOFTWARE COMO SERVICIOS</p></strong>
            <p>
                Poseemos una gran variedad de herramientas digitales que le ayudaran  a gestionar su compañia. Apoyamos sus procesos con nuestras plataformas digitales. 
            </p>
        </section>
    </main>
    <footer>
        <h2>tecnologias que harán trascender tu compañia.</h2>
    </footer>
</body>
</html>