<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Final</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header>
        <h1>acme</h1>
    </header>
    <nav>
        <a href="../index.html">Inicio</a><hr>
        <a href="./pagina_servicios.html">Servicios</a><hr>
        <a href="./pagina_quienes-somos.html">¿Quienes somos?</a><hr>
        <a href="./pagina_contacto.html">Contacto</a>
    </nav>
    <main>
        <img src="../assets/logo1_pagina4.png" alt="Logo pagina 4">
        <aside id="direccion">
            <img src="../assets/direccion.png" alt="logo user" class="direccion-icon">
            <div id="info-1">
                <span class="direccion"> 712 AV. Green Stone Sprintfield</span>
            </div>
        </aside>
        <aside id="correo">
            <img src="../assets/correo.png" alt="logo user" class="correo-icon">
            <div id="info-2">
                <span class="correo"> info@acme.tech</span>
            </div>
        </aside>
        <aside id="telefono">
            <img src="../assets/telefono.png" alt="logo user" class="telefono-icon">
            <div id="info-3">
                <span class="telefono-icon"> (+001) 555 8965</span>
            </div>
        </aside>
        <aside id="instagram">
            <img src="../assets/instagram.png" alt="logo user" class="instagram-icon">
            <div id="info-4">
                <span class="instagram"> @acmetech</span>
            </div>
        </aside>
    </main>
    <footer>
      <div class="barra"></div>
    </footer>
</body>
</html>