<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Final</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<header>
    <h1>acme</h1>
</header>
<nav>
    <strong><a href="../index.html">Inicio</a></strong><hr>
    <strong><a href="./views/pagina_servicios.html">Servicios</a></strong><hr>
    <strong><a href="./views/pagina_quienes-somos.html">¿Quienes somos?</a></strong><hr>
    <strong><a href="./views/pagina_contacto.html">Contacto</a></strong>
</nav>
<body>
    <main class="mai">
        <section id="trjetas">
            <div  class="tarjeta1">
                <button>
                    <img src="../assets/logo1_pagina2.png" alt="Logo de la imagen 1" class="ima">
                        <div class="tex">
                            <strong><p>IA GENERATIVA</p></strong>
                            <p>
                                Utilliza el poder de la IA generativa para crear contenido digital de alta calidad que ayuden a impulsar tu compañia a traves del marketing digital.
                            </p>
                        </div>
                </button>
            </div>
        </section>
        <section id="trjetas">
            <div class="tarjeta2">
                <button>
                    <img src="../assets/logo2_pagina2.png" alt="Logo de la imgen" class="ima">
                        <div class="tex">
                            <strong><p>CIENCIA DE DATOS</p></strong>
                            <p>
                                Los datos generados en tu compañia te ayudaran a ver de una forma mas clara que pasos seguir. La ciencia de datos te ayudara a la toma de decisiones mediante proyecciones y otras herramientas
                            </p>
                        </div>
                </button>
            </div>
        </section>
        <section id="trjetas">
            <div class="tarjeta3">
                <button>
                <img src="../assets/logo3_pagina2.png" alt="Logo de la imgen" class="ima">
                    <div class="tex">
                        <strong><p>SOFTWARE COMO SERVICIOS</p></strong>
                        <p>
                            Poseemos una gran variedad de herramientas digitales que le ayudaran  a gestionar su compañia. Apoyamos sus procesos con nuestras plataformas digitales. 
                        </p>
                    </div>
                </button>
            </div>
        </section>
    </main>
    <footer>
        <h2>tecnologias que harán trascender tu compañia.</h2>
    </footer>
</body>
</html>